body {
    background-color: papayawhip;
}

#textBox {
    font-size: larger;
    margin: 20px;
}

#burgerImage{
    height: 15vh;
    width: 20vh;
    border-radius: 5px;
}

#burgerLogo {
    height: 10vh;
    width: 10vh;
    justify-self: end;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.topContentBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh;
    height: 20vh;
    width: 80vh;
    border: thick double #f3d13c;
}

.bottomContentBox {
    padding: 5vh;
    margin-top: 2vh;
    padding-bottom: 2vh;
    height: 35vh;
    width: 80vh;
    border: thick double #f3d13c;
    line-height: 25px;

}

.topMenuPageContentBox {
    display: flex;
    justify-content: center;
    padding: 5vh;
    width: 80vh;
    height: 40vh;
    border: thick double #f3d13c;
}

.topContactPageContentBox {
    display: flex;
    justify-content: center;
    padding: 5vh;
    width: 80vh;
    height: 40vh;
    border: thick double #f3d13c;
}

.topContactPageContentBoxContent {
    align-self: center;
    justify-self: center;
    font-size: larger;
    font-weight: bolder;
    line-height: 30px;
}

.topMenuPageContentBoxContent {
    align-self: center;
    justify-self: center;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 5vh;
    gap: 5vh;
}

button {
    height: 10vh;
    width: 16vh;
    background-color: aquamarine;
}